*,
*:after,
*:before {
  box-sizing: border-box;
}

.notepad {
  background: var(--color-note-bg);
  font-size: 1.1rem;
  resize: none;
  line-height: 28px;
  padding: 2.5px 5px;
  background-attachment: local;
  background-position: 0 -3px;
  font-family: inherit;
}

.notes-container {
  height: 100%;
  display: none;
  margin-top: 10px;
  padding-top: 12px;
  overflow: hidden;
}

.summary-heading {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
  overflow-wrap: break-word;
}

summary::marker {
  color: var(--color-theme);
}
.all-notes-tab {
  position: relative;
  margin-bottom: 20px;
  background: rgb(253, 253, 253, 0.63);
  transition: height 0.2s ease-in-out;
  border: 3px solid var(--color-theme);
  color: #333;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  border-radius: 15px;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
  padding-bottom: 5px;
}
.all-notes-hr {
  margin: 15px 0;
  border-color: #191919;
  opacity: 0.4;
}
details[open] summary ~ * {
  animation: sweep 0.25s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.readonly {
  padding: 5px;
  margin: 0 auto;
  border: none;
  width: 98.5%;
  background: var(--color-note-bg);
  font-size: 1.1rem;
  min-height: 190px;
  max-height: 190px;
  overflow: auto;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.ctrl-div {
  display: flex;
  padding: 8px;
}

.visit {
  text-decoration: none;
  color: #191919;
  font-weight: bold;
  margin-top: 16px;
  font-size: 1.1rem;
  text-decoration: underline;
}
