:root {
  --color-note-bg: rgb(254, 246, 158);
  --note-gradient: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 27px,
    #33d 28px
  );
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

.notepad {
  background: var(--color-note-bg);
  font-size: 1.1rem;
  resize: none;
  line-height: 28px;
  padding: 2.5px 5px;
  background-attachment: local;
  background-position: 0 -3px;
  font-family: inherit;
}

.notes-container {
  height: 100%;
  display: none;
  margin-top: 10px;
  padding-top: 12px;
  overflow: hidden;
}

.summary-heading {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
  overflow-wrap: break-word;
}
.all-notes-tab {
  margin-bottom: 20px;
  background: rgb(255 255 255 / 61%);
  border-radius: 0;
  transition: height 0.2s ease-in-out;
  border-left: 5px solid rgba(0 0 0 / 20%);
  color: #333;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  border-radius: 10px 20px 10px 10px;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}
.all-notes-hr {
  margin: 15px 0;
  border-color: #191919;
  opacity: 0.4;
}
.readonly-textarea {
  box-sizing: border-box;
  width: 99%;
  margin: 0 auto;
  border: none;
}
details[open] summary ~ * {
  animation: sweep 0.25s ease-in-out;
}
::-webkit-scrollbar {
  display: none;
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.readonly {
  padding: 5px;
  margin: 0 auto;
  border: none;
  width: 99%;
  background: rgb(254, 246, 158);
  font-size: 1.1rem;
  min-height: 170px;
  max-height: 170px;
  overflow: auto;
}
.ctrl-div {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.delete-btn {
  background: rgb(255, 174, 174);
  border: 1px solid rgb(235, 73, 100);
  border-radius: 5px;
  padding: 4px 20px;
  font-size: 1.1rem;
  cursor: pointer;
}
.visit {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-top: 16px;
  font-size: 1.1rem;
  text-decoration: underline;
}
.visit-link {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.3rem;
  text-decoration: underline;
}
