:root {
  --color-theme: rgb(110, 207, 150);
}
@font-face {
  font-family: "MPLUSRounded1c-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./MPLUSRounded1c-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MPLUSRounded1c-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("./MPLUSRounded1c-Medium.ttf") format("truetype");
}
body {
  font-family: MPLUSRounded1c-Regular;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.all-notes-tab {
  background: rgba(253, 253, 253, 0.918);
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.06);
}
.summary-heading {
  font-size: 1.4rem;
  color: #191919;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.06);
}
.title-container img {
  width: 90px;
  height: 90px;
  margin: 0;
}

.title-container h1 {
  color: var(--color-theme);
  font-size: 2rem;
  font-family: MPLUSRounded1c-Medium;
}

.link-wrap {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
}
.readonly {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  border: none;
  width: 99%;
  background: #f8f2e4;
  font-size: 1.1rem;
  min-height: 230px;
  max-height: 230px;
  overflow: auto;
  padding: 5px;
}
.search-input {
  border: 3px solid #f8f8f8;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.08);
  padding: 10px;
  outline: none;
}
.input {
  color: #747474;
  font-size: 1.15rem;
}
.title {
  display: flex;
}
::placeholder {
  color: #747474;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #747474;
}

::-ms-input-placeholder {
  color: #747474;
}
.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.align-filter-container {
  display: flex;
  justify-content: center;
  flex-grow: 3;
  overflow-y: scroll;
  padding: 25px 0;
}
.filter-notes-container {
  width: 90%;
}
.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 350px;
}

.sidebar::-webkit-scrollbar {
  width: 0.1em;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.sidebar:hover {
  background: rgba(255, 255, 255, 0.2);
}

.websites-heading {
  text-align: center;
  color: #747474;
  font-size: 1.8rem;
  margin-top: 35px;
  font-family: MPLUSRounded1c-Medium;
}

.website-list {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  flex: 1;
  overflow-y: scroll;
}
.website-list li {
  margin: 20px 10px;
  text-align: center;
}

.list-item {
  padding: 10px 0;
}
.website-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #747474;
  font-size: 1.35rem;
  transition: 0.15s ease-in-out;
  font-family: MPLUSRounded1c-Regular;
  border-radius: 10px;
}
.website-btn:not(.active):hover {
  background: #72727221;
}

.active {
  color: #fff;
  background: var(--color-theme);
  font-family: MPLUSRounded1c-Medium;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.filter-active {
  color: rgba(254, 246, 158, 0.945);
  text-decoration-color: rgb(254, 246, 158);
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.site-title {
  color: #333;
  text-align: center;
  font-size: 1.7rem;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.checkbox-label {
  font-size: 1.3rem;
  color: rgb(240, 240, 240);
  margin-left: 10px;
}
.all-notes-check {
  transform: scale(2);
  margin-top: 5px;
}
.ctrl-div {
  display: flex;
  justify-content: center;
  padding: 8px;
  float: right;
}
.visit-btn,
.delete-btn {
  background: var(--color-theme);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.delete-btn {
  padding: 3px 10px;
  margin-left: 5px;
}
.visit-btn {
  padding: 3px 10px;
  margin: 0;
}
.visit-btn svg {
  position: relative;
  top: 5px;
  left: 2px;
}
.sum {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -30px;
}
.sum span {
  margin-left: 19px;
}
.head-svg {
  margin-top: 15px;
  margin-left: 5px;
}
.logo-svg {
  fill: var(--color-theme);
}
.svg-stroke {
  stroke: var(--color-theme);
}
