body {
  background: rgba(235, 235, 170, 0.845);
}
.all-notes-tab {
  background: rgb(41, 61, 81);
  margin-top: 30px;
  max-width: 700px;
  min-width: 700px;
}
.summary-heading {
  font-size: 1.4rem;
  color: rgb(240, 240, 240);
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  background: rgb(41, 61, 81);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.title-container img {
  transform: scale(0.5);
  margin-right: -25px;
}
.title-container h1 {
  line-height: 100px;
  margin-left: 0;
  color: white;
  font-size: 2rem;
}
.site-notes h1 {
  text-align: center;
}
.site-notes {
  margin-bottom: 55px;
}
.visit-link {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: bold;
}
.link-wrap {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
}
.readonly {
  margin: 0 auto;
  border: none;
  width: 99%;
  background: rgb(254, 246, 158);
  font-size: 1.1rem;
  min-height: 160px;
  max-height: 160px;
  overflow: auto;
  padding: 5px;
}
.search-input {
  border: 3px solid rgb(254, 246, 158);
  color: rgb(254, 246, 158);
  width: 350px;
  height: 60px;
  font-size: 1.15rem;
  border-radius: 10px;
  background: transparent;
  padding: 10px;
}
.search-container {
  margin-top: 45px;
  margin-right: 10px;
}
.title {
  display: flex;
}
::placeholder {
  color: rgba(254, 246, 158, 0.747);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(254, 246, 158, 0.747);
}

::-ms-input-placeholder {
  color: rgb(254, 246, 158, 0.747);
}
.align-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-all-notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-notes-container {
  margin-top: 150px;
}
.sidebar-div {
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 0;
  background: rgb(41, 61, 81);
  width: 300px;
  box-shadow: 3px 3px 5px rgb(41, 61, 81);
  overflow-y: scroll;
}
.websites-heading {
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 1.8rem;
}
.filter-heading {
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 1.8rem;
}
.website-list,
.filter-list {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}
.website-list li {
  margin: 20px 0;
  text-align: center;
}
.filter-list li {
  margin: 20px 0;
  text-align: center;
}
.list-item,
.filter-item {
  padding: 10px 0;
}
.website-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(240, 240, 240);

  font-size: 1.4rem;
  transition: 0.15s ease-in-out;
}
.filter-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(240, 240, 240);

  font-size: 1.4rem;
  transition: 0.15s ease-in-out;
}
.website-btn:hover {
  color: rgba(254, 246, 158, 0.945);
}
.filter-btn:hover {
  color: rgba(254, 246, 158, 0.945);
}
.active {
  color: rgba(254, 246, 158, 0.945);
  text-decoration-color: rgb(254, 246, 158);
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.filter-active {
  color: rgba(254, 246, 158, 0.945);
  text-decoration-color: rgb(254, 246, 158);
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.site-title {
  color: #333;
  text-align: center;
  font-size: 1.7rem;
}
.website-btn:active {
  color: rgba(254, 246, 158, 0.945);
}
.checkbox-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.checkbox-label {
  font-size: 1.3rem;
  color: rgb(240, 240, 240);
  margin-left: 10px;
}
.all-notes-check {
  transform: scale(2);
  margin-top: 5px;
}
