body {
  background: rgba(235, 235, 170, 0.845);
}
.all-notes-tab {
  background: rgb(138, 215, 187);
}
.summary-heading {
  font-size: 1.4rem;
}
.title-container {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  background: rgb(41, 61, 81);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.title-container img {
  transform: scale(0.5);
  margin-right: -25px;
}
.title-container h1 {
  line-height: 100px;
  margin-left: 0;
  color: white;
  font-size: 2rem;
}
.all-notes-container {
  margin-top: 150px;
}

.align-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-notes h1 {
  text-align: center;
}
.site-notes {
  margin-bottom: 55px;
}
.visit-link {
  text-decoration: none;
  color: #191919;
  font-weight: bold;
}
.link-wrap {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
}
